<!DOCTYPE html>
<html>
  <head>
    <% include common/head %>
  </head>

  <body>

    <% include common/nav %>

    <div class='container'>
      <div id='chat-content'>
        <ul class="list-group">
        </ul>
      </div>

    </div>

    <% include common/footer %>

    <% include common/javascripts %>
  </body>
</html>
