
<div class="header">
	<span class="channel-name">
		<%= this.to.get('name') %>
	</span>
	<span class="detach pull-right">&times;</span>
</div>

<div id="<%= this.to.get('name') %>Private" class="chats">
	<div class="nomsg">
		No chat messages yet.
	</div>
	<!-- <div class="chat-msg">
		<div class="msg">Message Sent</div>
		<div style="text-align:right;">
			<span class="from">Somebody</span>
			<span class="time">11:45pm</span>
		</div>
	</div> -->
</div>

<div class="msg-input">
  <input type="text" class="msg-input form-control" placeholder="Enter your message here..." />
</div>